.body{
  background-color:#ffffff;
  color:#757575;
  font-family: "Roboto", sans-serif; 
  font-size:14px;
  letter-spacing: 0.03em;

}

.logo{
  color:#000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.link{
  text-decoration: none;
}

.list{
  list-style: none;
}

span{color: #2196F3;}

.menu-item-link{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}

.menu-item-link:hover,
.menu-item-link:focus{
  color: #2196F3;
}

.header-email-link, 
.header-phone-link{
  color: #757575;
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}

.header-email-link:hover,
.header-email-link:focus, 
.header-phone-link:hover,
.header-phone-link:focus{
  color: #2196F3;
}

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
background-color:#757575;}

.modal-btn{
font-weight: bold;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background: #2196F3;
}

.features-item-title{
font-weight: bold;
line-height: 1.14;
text-transform: uppercase;
color: #212121;
}

.features-item-text{
  line-height: 1.71;
  color: #757575;
}

.title{font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;}

  .business-item-title{
    font-weight: bold;
line-height: 1.14;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
background-color:#2F303A;
  }

.team-member-title{
  font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
}

.team-member-text{
  font-size: 16px;
line-height: 1.19;
}

.footer{background: #2F303A;}

.footer-address{
font-style: normal;
line-height: 1.71;
color: #FFFFFF;
}

.footer-email, .footer-tel {font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.social-call{
  font-weight: bold;
  line-height: 16p1.14x;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-logo{
  color:#FFFFFF;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
